.main_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.left_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left_container > img {
  width: 60%;
  object-fit: contain;
}

.center_container {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
}

.center_container > img {
  width: 100%;
}

.center_container > pre {
  color: #efcb71;
  white-space: pre-wrap;
  margin: 0;
  margin-top: 1.5rem;
  font-family: "Roboto";
}

.appoint {
  width: 80% !important;
}

.right_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_container > a {
  transition: all 0.15s ease;
}

.right_container > a:hover {
  transform: scale(0.98);
}

.right_container > a > img {
  width: 80%;
}
