.nav_container {
  width: 100%;
  height: 5rem;
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #3434348e;
}

.options_container {
  justify-self: end;
  width: 25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.option {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #efcb71;
}

.option:hover {
  color: #5b5243;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.logo_container > img {
  height: 50%;
  width: 50%;
  object-fit: contain;
  margin-top: 1rem;
}

.burger {
  background-color: transparent;
  border: none;
  color: #efcb71;
  background-color: #3434348e;
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: none;
  border: 2px solid #efcb71;
}

/* SIDEBAR */

.sidebar {
  width: 60%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343434;
  transition: all 0.25s ease;
  z-index: 4;
}

.sidebar_options_container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.sidebar_options {
  background-color: transparent;
  border: none;
  color: #efcb71;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: 2px solid #efcb71;
  color: #efcb71;
  width: 2rem;
  height: 2rem;
  border-radius: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.blur {
  width: 100%;
  height: 100vh;
  z-index: 1;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 500px) {
  .options_container {
    display: none;
  }
  .burger {
    display: inline-block;
  }
}
