.large_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paypal_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.paypal_container > label {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #efcb71;
  flex-direction: column;
  width: 30%;
  gap: 0.25rem;
  margin-left: 0.5rem;
}

.amount {
  background-color: transparent;
  margin-left: -0.5rem;
  border: 2px solid #efcb71;
  color: #efcb71;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  outline: none;
  width: 100%;
  position: relative;
}

.paypal_container > div {
  width: 50%;
}

.main_container {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  color: #efcb71;
}

.inner_container {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(7, 14.28%);
  grid-auto-rows: 100%;
  background-color: #525252;
  overflow: hidden;
}

.nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.nav_container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.nav_container > div {
  transition: all 0.2s ease;
}

.nav_container > div > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav_container > div > a > p {
  margin: 0;
}

.nav_container > div > p {
  margin: 0;
}

.nav_container > div:hover {
  color: #9a8a6f;
}

.nav_container:nth-child(3) > div {
  display: grid;
  place-items: center;
  grid-template-rows: 60% 40%;
  width: 100%;
  height: 100%;
  margin: 0;
}

.nav_container:nth-child(3) > div > div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_container:nth-child(3) div > div > svg {
  height: 50%;
  margin: 0;
}

.nav_container:nth-child(3) div > div > svg > path {
  transition: all 0.2s ease;
}
/* 

.nav_container:nth-child(3) > div > div > svg > path:hover {
  fill: #9a8a6f;
} */

.nav_container:nth-child(3) div > p {
  align-self: start;
  font-size: 0.95rem;
  margin-top: -0.15rem;
}

@media (max-width: 600px) {
  .main_container {
    height: 15rem;
  }
  .inner_container {
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
  }
}
