.main_container {
  width: 100%;
  margin-top: 15rem;
  color: #efcb71;
}

.main_container > h1 {
  text-align: center;
  font-family: "Allura";
  font-size: 5rem;
}

.main_container > div {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .main_container > h1 {
    font-size: 3.5rem;
  }
}
