.main_container {
  margin-top: 15rem;
}

.pictures_container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}

@media (max-width: 600px) {
  .pictures_container {
    flex-direction: column;
    gap: 2rem;
  }
}
