.main_container {
  width: 100%;
}

.top_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  overflow: hidden;
  height: 90%;
  width: 25%;
}

.pictures_container {
  width: 100%;
  height: 100%;
}

.pictures_container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text_container {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #efcb71;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_container > pre {
  font-size: 1.25rem;
  text-align: center;
  font-family: "Roboto";
  line-break: strict;
  white-space: pre-wrap;
}

@media (max-width: 600px) {
  .box {
    width: 90%;
  }
}
